<footer class="bg-secondary shadow">
  <div class="w-full p-4 md:px-8 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <span></span>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-tertiary sm:mb-0">
        <li>
          <a href="https://github.com/CamiloLopezN" class="hover:underline me-4 md:me-6" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/cristian-lopez-dev/" class="hover:underline me-4 md:me-6"
             target="_blank">Linkedin</a>
        </li>
        <li>
          <a href="https://cristian-lopez.me/" class="hover:underline me-4 md:me-6" target="_blank">Sitio Web</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-tertiary sm:mx-auto lg:my-8"/>
    <span class="block text-sm text-tertiary sm:text-center">
      <a href="https://flowbite.com/"
         class="hover:underline">Prueba realizada por: </a>
      Cristian Camilo López Niño
      </span>
  </div>
</footer>

