<form class="flex flex-col gap-4"
      [formGroup]="taskForm" (ngSubmit)="submitTask()">
  <div>
    <label for="taskName" class="block mb-1 text-xs font-medium text-primary">Nombre de la tarea</label>
    <input type="text" id="taskName" formControlName="taskName"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
           focus:border-blue-500 block w-full p-2.5"
           placeholder="Nombre de la tarea" required/>
  </div>

  <div>
    <label for="taskLimitDate" class="block mb-1 text-xs font-medium text-primary">Fecha limite</label>
    <input type="date" id="taskLimitDate" formControlName="taskLimitDate"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
           focus:border-blue-500 block w-full p-2.5"
           required/>
  </div>

  <div class="flex flex-row flex-wrap gap-1">
    <button type="button"
            class="flex-1 flex flex-col {{peopleId.includes(person.personId) ? 'bg-tertiary':'bg-primary'}} rounded-2xl p-2
      justify-center items-center cursor-pointer"
            (click)="onClickPerson(person.personId)"
            *ngFor="let person of people">
      <h1 class="text-secondary">{{ person.personName }}</h1>
      <fa-icon class="text-secondary" [size]="'3x'" [icon]="faUser"/>
    </button>
  </div>

  <div class="flex flex-row-reverse">
    <app-button [buttonState]="taskForm.invalid"
                (onClickEmitter)="submitTask()"
                [buttonType]="'submit'" [buttonText]="'Crear persona'"
                [buttonClass]="'text-secondary bg-primary hover:bg-tertiary'"/>
  </div>


</form>
